<div class=" container">

  <%# this is title for all bikes which searched via user %>
  <div>
    <h3 class="text-center">My Profile</h3>
    <h4 class="text-center"><%= @user.email %></h4>
  </div>

  <div class="container">
    <h3 class="text-center">My Bikes for Rent</h3>

    <div class="row">
      <% @bikes.each do |bike| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= link_to bike_path(bike) do %>
              <% if bike.photo.attached? %>
                <%= cl_image_tag bike.photo.key, class: 'card-img-top', crop: :fill, height: 200, width: 300 %>
              <% else %>
                <%= image_tag 'default_bike.jpg', class: 'card-img-top', crop: :fill, height: 200, width: 300 %>
              <% end %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= bike.name %></h5>
              <p class="card-text"><strong>Price:</strong> <%= bike.price %> € day</p>
              <p class="card-text overflow-hidden" style="max-height: 30px; min-height: 30px;"><%= bike.description %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'View', bike_path(bike), class: 'btn btn-new-bike' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
