<h1><%= @bike.name.capitalize%>Bike</h1>
<div class="container d-flex justify-content-center align-items-center">
  <div class="bike-details card shadow p-3 mb-5 bg-white rounded" style="width: 30rem;">
    <div class="d-flex justify-content-center align-items-center">
      <% if @bike.photo.attached? %>
        <%= cl_image_tag @bike.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <p>No image available</p>
      <% end %>
    </div>

    <div class="card-body">
      <p><strong>There are the detail of this Bike </strong></p>
      <h5 class="card-title">name: <%= @bike.name %></h5>
      <p>price: <%= @bike.price %> € night</p>
      <p class="card-text">description: <%= @bike.description %></p>
      <p class="card-text"><small class="text-muted">created: <%= @bike.created_at %></small></p>
      <button class="btn-booking">
        <%= link_to "Book now",  new_bike_booking_path(@bike), class: "text-decoration-none text-light"%>
      </button>
      <button class="btn-back">
      <%= link_to "Back to list", bikes_path, class: "text-decoration-none text-light"  %>
    </button>
  </div>
    </div>
  </div>
