<h1><%= @bike.name.capitalize%> in  <%= @bike.address.capitalize %></h1>
<div class="container d-flex justify-content-center align-items-center">
  <div class="bike-details card shadow p-3 mb-5 bg-white rounded" style="width: 30rem;">
    <div class="d-flex justify-content-center align-items-center">
      <% if @bike.photo.attached? %>
        <%= cl_image_tag @bike.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <p>No image available</p>
      <% end %>
    </div>

    <div class="card-body">

      <h5 class="card-title"><%= @bike.name.capitalize %> in <%= @bike.address.capitalize %></h5>
      <p>price: <%= @bike.price %> € night</p>
      <p class="card-text">description: <%= @bike.description %></p>
      <button class="btn-booking">
        <%= link_to "Book now", booking_path, class: "text-decoration-none text-light"%>
      </button>
      <button class="btn-back">
      <%= link_to "Back to list", bikes_path, class: "text-decoration-none text-light"  %>
    </button>
  </div>
    </div>
  </div>
