<div class="p-2 m-2 justify-content-center">
  <h1>
    <%= @bike.name.capitalize %> in <%= @bike.address.capitalize if @bike.address.present? %>
  </h1>
</div>

<div class="container d-flex justify-content-center align-items-center row">
  <div class="bike-details card shadow p-3 mb-5 bg-white rounded col-4 p-5 m-5" style="width: 30rem;">
    <div class="d-flex justify-content-center align-items-center">
      <% if @bike.photo.attached? %>
        <%= cl_image_tag @bike.photo.key, class: 'card-img-top', crop: :fill, height: 200, width: 300 %>
      <% else %>
        <%= image_tag 'default_bike.jpg', class: 'card-img-top', crop: :fill, height: 200, width: 300 %>
      <% end %>
    </div>

    <div class="card-body">

      <h5 class="card-title">
        <%= @bike.name.capitalize %> in <%= @bike.address.capitalize if @bike.address.present? %>
      </h5>
      <% if @bike.address.present? %>
        <h3 class="card-title"><%= @bike.address%></h3>
      <% end %>
      <p>price: <%= @bike.price %> € day</p>
      <p class="card-text">description: <%= @bike.description %></p>
      
      <button class="btn-back">
        <%= link_to "Back to list", bikes_path, class: "text-decoration-none text-light"  %>
      </button>
    </div>
  </div>


  <div class="card shadow p-3 mb-5 bg-white rounded col-4">
    <%= simple_form_for [@bike, @booking] do |f|%>
      <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
      <%= f.button :submit %>
    <% end %>
  </div>

</div>
